<%- include('partials/header') %>

<!-- navbar -->

<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark px-2 bg-dark">
    <a class="navbar-brand" href="/">The Social Helper</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle-items" aria-controls="navbar-toggle-items" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-dark" id="navbar-toggle-items">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#about">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mission">Our Mission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#cta">Contact</a>
        </li>
      </ul>
    </div>
  </nav>


<!-- navbar end -->

<!-- header block -->
    <div class="main">
        <div class="main-block">
        <div class="main-heading">
            Where every smile matters <br>
            Your happiness and wellness is our priority.
        </div>
        <div class="main-links">
            <a class="btnn" href="/elderly_signup" role="button" >Sign up for Elderly</a>
            <a class="btnn" href="/elderly_login" role="button" >Login for Elderly</a>
        </div>
        <div class="main-links">
          <a class="btnn" href="/volunteer_signup" role="button" >Sign up for Volunteers</a>
          <a class="btnn" href="/volunteer_login" role="button" >Login for Volunteers</a>
      </div>
      
        </div>
    </div>
<!-- header block end -->


<%- include('partials/footer') %>

<!-- The social Helper Landing Page -->