<%- include('partials/header') %>

<!-- navbar -->

<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark px-2">
      <link href="https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@500&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

    <a class="navbar-brand" href="/">
    <img id="logo" src="./img/logonavbar.png" width="75px" height="75px" ></img>
    <div class="framing"><span> The Social Helper <br> <sub style="font-size: 30px; font-family: 'Allura', cursive;">Where every smile matters</span></sub></div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle-items" aria-controls="navbar-toggle-items" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-dark" id="navbar-toggle-items">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  href="#aboutus">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mission">Our Mission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contact</a>
        </li>
      </ul>
    </div>
  </nav>


<!-- navbar end -->


<!-- header block -->
    <div class="main backmain">  
          <h1 class="ml3" style="font-family: 'Pacifico', cursive;">Don't Forget to Smile :) </h1>
        <ul style="font-size:20px;font-family: 'Staatliches', cursive;">
        <li>
            <a href="#">I am an Elder &#9662;</a>
            <ul class="elderdd dropdown">
                <li><a class="btn" href="/elderly_signup" role="button" >Sign up for Elderly</a></li>
                <li><a class="btn" href="/elderly_login" role="button" >Login for Elderly</a></li>
              </ul>
        </li>
        <li>
              <a href="#">I am a Volunteer &#9662;</a>
            <ul class="voldd dropdown">
                <li> <a class="btn" href="/volunteer_signup" role="button" >Sign up for Volunteers</a>
                <li> <a class="btn" href="/volunteer_login" role="button" >Login for Volunteers</a> 
   </li>
              </ul>
        </li>
        </ul>
 
      
    </div>


    <section class="bg-dark white-section" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x" ></i>
            <h3 class="feature-title">Easy to use.</h3>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x" ></i>
          <h3 class="feature-title">User-Friendly</h3>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Help us, Help you</h3>
         </div>
      </div>

    </div>
  </section>

  
  <section style="font-family: 'Acme', sans-serif;" class="bg-dark white-section" id="aboutus">

    <h2 class="section-heading"style="color:white" >ABOUT US<h2>
    <div class="row">

      <div class="aboutus-column col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="clrblack">FOR ELDERS</h3>
          </div>
          <div class="card-body">
            <p class="clrblack">After you register we provide you with a portal</p>
            <p class="clrblack">In the portal after you log-in you wll be to chat with several volunteers</p>
            <p class="clrblack">You can also host a meet for the volunteers at your location/nearest location</p>
            <p class="clrblack">Host as many meets possible and have a great time and dont forget to smile</p>
              <br>
             <a class="btn bg-dark text-white" href="/elderly_signup" role="button" >Sign up for Elderly</a> 
          </div>
        </div>
      </div>

      <div class="aboutus-column col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="clrblack">FOR VOLUNTEERS</h3>
          </div>
          <div class="card-body">
            <p class="clrblack">After you register we provide you a portal</p>
            <p class="clrblack">In the portal you will be able to chat with other elders and volunteers</p>
            <p class="clrblack">You can attend meets hosted by elders in your near-by vicinity</p>
            <p class="clrblack">Attend and interact as many meets possible and make an old pal smile!</p>
              <br>
            <a class="btn bg-dark text-white" href="/volunteer_signup" role="button" >Sign up for Volunteering</a> 
          </div>
        </div>
      </div>

     </section>  

    <section id="mission" style="font-family: 'Acme', sans-serif;" class="bg-dark white-section">
    <h1>OUR MISSION<h1>
    <p>In a highly-populated country like India, elders are give least care and are considered a burden, we here at <span><a href="#">The Social Helper</a></span> look forward to help the older generation in need by giving them a platform to share with other volunteers and make a community of elder generation</p> 
    
    </section>
  
<!-- header block end -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>


<%- include('partials/footer') %>

<!-- The social Helper Landing Page -->