@media (max-width: 480px) {
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    top:50px;
    float: none;
    width: auto;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

}

  .dropdown-menu {
  position:absolute;
  top:30px;
  }


@media screen and (min-width: 480px) {
  
  .ml3  {
    margin:30px;
  }
  
 /* .ml3{
   top:200px;
   position:absolute;
   left:120px;
   } */
 }

.spacing{
  padding:20px;
}
.ml3 {
  font-weight: 900;
  font-size: 3.5em;
  position:absolute;
  top: 40%;
  left: 30%;
}

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}


#testimonials {
  background-color:black;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: black;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* aboutus Section */
.colored-section {
  background-color: black;
  color: #fff;
}
.clrblack{
color:black;
}
#aboutus {
  margin-top: 5%;
  padding: 100px;
}
.white-section {
  background-color: #fff;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
.aboutus-column {
  padding: 3% 2%;
}

.icon {
  color:grey;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #8f8f8f;
}


.social-icon {
  margin: 10px 10px;
}
.white-section
{
  color:white;
  background-color:black;
  
  text-align:center;
  padding:30px;
}
.elderdd{
  position:absolute;
  left:20px;
}

 .voldd{
  position:absolute;
  right:20px;
}
 .main ul{
        padding: 0;
        list-style: none;
        background: #f2f2f2;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
    ul li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }
    ul li a:hover{
        color: #fff;
        background: #939393;
    }
    ul li ul.dropdown{
        min-width: 100%; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background-color: #262626; 
  /* FF4A87 */
}
.navbar-nav{
    font-family: 'Staatliches', cursive;
    font-size:25px;
}
#logo{
float:left;
margin-right:10px;
}
.navbar-brand{
  font-size:40px;
  font-family: 'Staatliches', cursive;
  margin-left:20px;
  padding:15px;
}

.framing{
  margin-top:15px;
  margin-right:250px;;
  line-height:0.5;
}

.backmain{
    background-image: url(../img/updatedphotobgg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:92vh;
    width: 100vw;
} 



/* footer */
.footer{
  padding: 20px 0;
  text-align: center;
  color: white;
}

/* Chat styles */
h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

#mario-chat{
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
}

#chat-window{
  height: 400px;
  overflow: auto;
  background: #f9f9f9;
}

#output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong{
  color: #575ed8;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

button{
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}


#contacts {
  overflow: auto;
	height:400px;
	background-color:#3b3e49;
	display:inline-block;
	font-size:15px;
	margin-top: 30px;
}

a {
  text-decoration: none;
}

div ul {
  padding-left:0;
	margin:0;
	list-style-type:none;
  
	/* overflow-y:scroll; */
}

div li {
  padding: 10px 0;
}

div li a {
  font-size:14px;
	color: #fff;
	font-weight:normal;
  
}

